.chartcolCentre{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.chartleaderBox{
    flex-flow: row wrap;
    width: 100%;
    height: 100vh;
    color: white;
    background: var(--mainBackGroundTheme);
}

.chartcommitBox{
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  height: 75%;
}
.chartcommitContainer{
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}
.chartcommitGraphContainer{
  flex-grow: 8;
}
.chartcommitNameContainer{
  flex-grow: 1;
}
.chartelContainer{
  
}
.chartcommitElContainer{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.chartpersonsChart{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.chartliderElement{
  height: inherit;
  justify-content: flex-end;
}
.chartliderElement>p{
  margin: 5px 17px 5px 17px;
  padding: 0;
}
.chartbar{
  width: 60%;
  min-height: 1%;
  border-radius: 6px;
  background: var(--leaderSecondColor);
  box-shadow: var(--leaderSecondShadow);
}
.chartactiveBarChart{
  border-radius: 6px;
  background: var(--leaderFirstColor);
  box-shadow: var(--leaderFirstShadow);
}
.chartcommitImg{
  width: 50%;
  max-width: 90px;
  filter: var(--filterDark);
  border-radius: 50%;
  cursor: pointer;
}

.chartheader{
  height: 20%;
}

.chartpersonsChart>p{
margin-right: 1rem;
}