.diagramcolCentre{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  .dotText{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
  .diagramleaderBox{
    width: 100vw;
    height: 100vh;
    color: white;
    background: var(--mainBackGroundTheme);
  }
  .diagramcommitBox{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 80%;
  }
  .diagramcommitLegend{
    width: 50%;
  }

  .diagramcommitElContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
  }
  .diagramText{
    position: absolute;
    left: 30%;
    top: 40%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .diagramText>p{
    margin: 0;
    padding: 0;
  }
  .diagramcommitDiagram{
      display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 50%;
    position: relative;
  }
  .aboutcommitString{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 75%;
}
  .diagramchart{
    width: 100%;
    height: 100%;
  }
  .circleBox{
    border-radius: 50%;
    height: 1vh;
    width: 1vh;
    margin-right: 1em;
  }
  .circleBox:nth-child(1) {
    background: var(--diagramUnitF);
}
  .unit {
    stroke-width: 5;
    fill: none;
}
  .unit:nth-child(1) {
    stroke: var(--diagramUnitF);
}
  
.unit:nth-child(2) {
    stroke: var(--diagramUnitS);
  }
  
  .unit:nth-child(3) {
      stroke: var(--diagramUnitT);
    }
  .unit:nth-child(4) {
      stroke: var(--diagramUnitFo);
  }
  .diagramBrakeLine{
      width: 100%;
  }