.leaderleaderBox{
    flex-flow: row wrap;
    width: 85%;
    height: 100%;
    color: white;
}
.leadercolCentre{
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.leaderelsBox{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100%;
  height: 75%;
}
.leadercolCenrcoltre{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: var(--mainBackGroundTheme);
}
.leaderelContainer{
  height: 100%;
  width: 100%;
  margin-left: -16px;
  margin-right: -16px;
}
.mainLeaderConatiner{
  height: 100vh;
  overflow: hidden;
}
.barContainer{
  height: 100%;
}
.leadersgoupVote{
  position: absolute;
  padding: 0;
  margin: 0;
  top: -30%;
  left: calc(50%-16px);
  font-size: 3vw;
}
.leaderliderElement{
    height: inherit;
    justify-content: flex-end;
}
.leaderliderElement>p{
  margin: 5px 0 5px 0;
  padding: 0;
}
.leaderliderBar{
  height: 70%;
  background: var(--leaderFirstColor);
  box-shadow: var(--leaderFirstShadow);
  z-index: 5;
  border-radius: 6px;
}
.leadersecondBar{
  height: 60%;
  background: var(--leaderSecondColor);
  box-shadow: var(--leaderSecondShadow);
  z-index: 4;
  border-radius: 6px;
}
.leaderthirdBar{
  height: 50%;
  background: var(--leaderSecondColor);
  box-shadow: var(--leaderSecondShadow);
  z-index: 3;
  border-radius: 6px;
}
.leaderbar{
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: center;
}
.positionText{
  font-size: 30px;
}
.header{
  height: 25%;
}
.liderImg{
  width: 50%;
  filter: var(--filterDark);
  border-radius: 50%;
  cursor: pointer;
}
p{
  width: 50%;
  text-align: center;
  font-family: 'Roboto';
}