.colCentre{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.leaderBox{
    flex-flow: row wrap;
    width: 80%;
}
.elsBox{
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}
.elContainer{
  flex-shrink:  1;
  flex-grow: 1;
  border: 1px solid red;
  height: 500px;
  flex-basis: 10%;
  margin-left: -16px;
  margin-right: -16px;
}

.liderElement{
    height: inherit;
    justify-content: flex-end;
}
.liderElement>p{
  margin: 5px 17px 5px 17px;
  padding: 0;
}
.bar{
    width: 100%;
    background-color: green;
}
img{
  width: 50%;
}
