.leaderBox{
    flex-flow: row wrap;
    width: 80%;
    color: white;
    background: radial-gradient(circle, #252117 0%, #1c1810 50%,#0d0c08 100%);
}
.colCentre{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.elsBox{
  display: flex;
  flex-flow: row nowrap;
  width: 90%;
}
.elContainer{
  flex-shrink:  1;
  flex-grow: 1;
  height: 500px;
  flex-basis: 10%;
  margin-left: -16px;
  margin-right: -16px;
}

.liderElement{
    height: inherit;
    justify-content: flex-end;
}
.liderElement>p{
  margin: 5px 17px 5px 17px;
  padding: 0;
}
.liderBar{
  height: 70%;
  background: radial-gradient(circle at bottom, #4a2f00 0%, #8c5901 50%,#d58801 100%);
  z-index: 5;
}
.secondBar{
  height: 60%;
  background: radial-gradient(circle at bottom, #0e0c06 0%, #201c12 50%,#3b3831 100%);
  z-index: 4;
}
.firdBar{
  height: 50%;
  background: radial-gradient(circle at bottom, #0e0c06 0%, #201c12 50%,#3b3831 100%);
  z-index: 3;
}
.bar{
  border-radius: 5% 5% 0 0;
  width: 100%;
}

img{
  width: 50%;
}
p{
  width: 50%;
  text-align: center;
}